body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c0b6b6;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    border: solid #007BFF 5px;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}
